@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    margin-bottom: 10rem;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}


.btn {
    @extend .font-poppins;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #261d56;
    outline: none;
    width: 12rem;
    height: 3.5rem;
    cursor: pointer;

    &[data-type='main'] {
        background: #23b682;
        color: #fff;
        border-color: #23b682;
    }

    &[data-type='alt'] {
        background: transparent;
        color: #261d56;
        border-color: #261d56;
    }

    &[data-type="special"] {
        background: #23b682;
        color: #fff;
        border-color: #23b682;
        border-radius: 20rem;
    }

  

    &:hover {
        opacity: 0.9;
    }
}
.head-wrapper {
    background-image: linear-gradient(to right, #a8a2ec, #edeffb);
    height: 60rem;
    padding: 2rem 5rem;


    .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-right: 5rem;

        .app-logo {
            width: 15rem;
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .content {
        display: flex;
        padding-top: 8rem;
        justify-content: space-between;

        .pane-1 {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-top: 3rem;

            h1 {
                color: #261d56;
                font-size: 3.8rem;
                font-weight: 900;
                width: 30rem;
            }
            p {
                font-size: 1.5rem;
                width: 30rem;
            }

            .actions {
                display: flex;
                column-gap: 1rem;
                margin-top: 3rem;
            }
        }
        .pane-2 {
            margin-right: 1rem;
            position: relative;
            .circle {
                position: absolute;
                background-color: white;
                width: 42rem;
                height: 42rem;
                border-radius: 999px;
                background-size: cover;
                background-repeat: no-repeat;
            }
           
            .crl {
                right: 40px;
                background-image: url(../assets/training.jpg);
                border: 8px solid #261d56
            }
            .crl-2 {
                right: 45rem;
                bottom: -10rem;
                position: absolute;
                background-color: white;
                width: 18rem;
                height: 18rem;
                border:5px solid #fff;

                background-image: url(../assets/laptop.jpg);
            }

        }
    }

}

.working {
    background: #edeffb;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    h3{
        font-size: 28px;
        font-weight: 500;
        color: #261d56;
    }
    h1 {
        font-size: 52px;
        font-weight: 700;
        color: #261d56;  
        width: 50rem;
        text-align: center;
        margin-top: -.5rem;
    }
    .steps {
        display: flex;
        justify-content: space-between;
        column-gap: 20rem;
        margin-top: 6rem;

        .cnt-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .cnt {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 48px;
                font-weight: 600;
                text-align: center;
                background: #261d56;
                color: #fff;
                width: 10rem;
                height: 8rem;
                border-radius: 10px;
            }

            p {
                font-size: 32px;
                width: 24rem;
                text-align: center;
            }

        }
    }

}

.trophy {
    background: #fff;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    .content {
        display: flex;
        justify-content: space-between;
        column-gap: 30rem;
        margin-bottom: 10rem;

        img {
            width: 30rem
        }

        .description {
            display: flex;
            flex-direction: column;
            h1{
                font-size: 48px;
                width: 30rem;
                text-align: left;
            }

            p {
                font-size: 32px;
                width: 30rem;
                text-align: left;
            }
        }
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        color: #261d56;  
        width: 50rem;
        text-align: center;
    }
    .actions {
        display: flex;
        column-gap: 2rem;
        margin-bottom: 10rem;

       
    
    }
}
